name: test-workspace

on:
  workflow_dispatch: 

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Show current directory
        run: pwd
      - name: Show files
        run: |
          find /home/runner

